.recipes-container
  width: 100%
  height: auto
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  background-repeat: repeat
  background-size: cover
  background-position: center
  .recipes
    width: 60%
    height: auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-content: flex-start
    justify-content: center
    gap: 2%
    @media (max-width: 700px)
      justify-content: center
      width: 95%
  .header
    @media (max-width: 700px)
      width: 95%
      font-size: 5vw
    width: 60%
    text-align: left
    font-size: 2vw
    padding-left: 1%
    margin-top: 1%
  .not-found
    margin-top: 10%
    font-size: 2vw
    font-weight: 600
    @media (max-width: 500px)
      font-size: 5vw
  .paginate-bar
    margin-top: 5%