.ranking-container
  width: 60%
  @media (max-width: 500px)
    width: 95%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-items: flex-start
  gap: 2%
  .ranking-header
    font-size: 1.5vw
    @media (max-width: 500px)
      font-size: 3vw
    font-weight: 600
  .ranking-item
    flex-basis: 40%
    height: auto
    .ranking-item-img
      width: 100%
      height: auto
      img
        width: 100%
        height: 100%
        max-height: 100%
    .ranking-item-header
      font-size: 1.2vw
      @media (max-width: 500px)
        font-size: 3vw
      font-weight: 600
      width: 100%
      height: 10%
  .ranking-item:hover
    cursor: pointer
