.recipe
  display: flex
  flex-basis: 23%
  flex-direction: column
  margin-top: 5%
  height: auto
  justify-content: flex-start
  align-items: center
.recipe:hover
  cursor: pointer
.recipe-name
  text-align: center
