.recipe
  display: flex
  flex-basis: 23%
  flex-direction: column
  margin-top: 3%
  height: auto
  justify-content: flex-start
  align-items: center
.recipe:hover
  cursor: pointer
.recipe-name
  text-align: center
.favourite-recipe-name-row, .owner-recipe-name-row, .admin-recipe-name-row
  width: 100%
  display: flex
  flex-direction: row
  .recipe-name
    width: 90%
  .add-ingredients-icon, .edit-recipe-icon
    display: flex
    justify-content: center
    align-items: center
    width: 10%
    font-size: 1.1vw
    @media (max-width: 500px)
      font-size: 4vw
    color: green
img
  width: 220px
  height: 150px
  @media(max-width: 500px)
    width: 180px
    height: 130px